<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ai_inventory>
            <security>
                <enable_rate_limiting>1</enable_rate_limiting>
                <api_rate_limit>100</api_rate_limit>
                <api_rate_period>3600</api_rate_period>
                <secure_logging>1</secure_logging>
                <max_file_upload_size>10485760</max_file_upload_size>
                <allowed_file_types>zip</allowed_file_types>
            </security>
            <ai_inventory_optimizer>
                <general>
                    <enabled>1</enabled>
                </general>
                <forecasting>
                    <enabled>1</enabled>
                    <model_type>ensemble</model_type>
                    <auto_reorder>0</auto_reorder>
                </forecasting>
                <stock_balancing>
                    <enabled>1</enabled>
                    <auto_transfer>0</auto_transfer>
                </stock_balancing>
                <order_routing>
                    <enabled>1</enabled>
                    <optimization_priority>balanced</optimization_priority>
                </order_routing>
                <fraud_detection>
                    <enabled>1</enabled>
                    <risk_threshold>70</risk_threshold>
                    <auto_hold>1</auto_hold>
                </fraud_detection>
                <multichannel>
                    <enabled>1</enabled>
                    <sync_frequency>15</sync_frequency>
                </multichannel>
            </ai_inventory_optimizer>
        </ai_inventory>
    </default>
</config> 