<?xml version="1.0"?>
<!--
/**
 * AI Inventory Optimizer Module Configuration
 *
 * @category  AI
 * @package   AI_InventoryOptimizer
 * @author    AI Inventory Team <support@example.com>
 * @copyright 2023 AI Inventory (https://www.example.com)
 * @license   https://opensource.org/licenses/OSL-3.0 OSL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AI_InventoryOptimizer" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Inventory"/>
            <module name="Magento_InventoryApi"/>
            <module name="Magento_Store"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config> 